<body id = "book_body">
    <p id ="page1" style = "">{{book_isbn}}</p>
    <p id = "tester">{{x}}</p>
    <p><a href = "/AboutUs">About Us</a></p>
    <p><a href = "/User">User</a></p>
    <p><a href = "/Login">login</a></p>
    <p><a href = "/Book">Book</a></p>
    <p><a href ="/">Home</a></p>
</body>
<script src="/javascripts/bookGetter.js"></script>
