<body>
    <p>testing book page</p>
    <p><a href = "/AboutUs">About Us</a></p>
    <p><a href = "/User">User</a></p>
    <p><a href = "/Login">login</a></p>
    <p><a href = "/Book">Book</a></p>
    <p><a href ="/">Home</a></p>
</body>