<style>
    #chat, #privateChat{
        height: 400px;
        background-color:teal;
        overflow-x: scroll;
        overflow-wrap: break-word;
        border: 1px solid black;
        box-sizing: border-box;
        padding: 0px;
        margin: 0;
    }

    #chatWrap, #privateChatWrap{
        float: right;
        border: 1px solid black;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color:teal;
    }

    #list_name, #private_box{
        text-align: center;
        border: 1px solid black;
    }
    #list_name{
        background-color:thistle;
    }
    #private_box{
        background-color:wheat;
    }
    .scrollClass{
        border: 1px solid black;
        height: 400px;
        overflow-x: scroll;
        scrollbar-color: dark;
    }
</style>

<button onclick = "returnInfoToScreen();">return google info</button>
<button id = "theButton">add user</button>
<button id = "aButton">another button</button>
<div class = "container" style = "border: 1px solid black">
    <div class = "row">
        <div id = "list_name" class = "col-4">users</div>
        <div id = "private_box" class = "col-8"></div>
    </div>
<div class = "row">
<div id = "users" class = "col-4 scrollClass"></div>
<div id = "privateChatWrap" class = "col-8" style = "display: none;">
        <div id="privateChat" class = "width: 100%; border: 1px solid black;" ></div>
        <form id = "send-private-message">
            <input size = "35" id = "privateMessage"></input>
            <input type = "submit"></input>
        </form>
    </div>
    <div id="theUsers"></div>
    </div>
    </div>
<script>


<script>

function returnInfoToScreen(){
    
    const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
  const profile = googleUser.getBasicProfile();
  if(profile === undefined){
    console.log("user not signed in, no info to return");
  }else{
    console.log("hey hey hey "+profile.getId());
    console.log( profile.getName());
  } 
  }

var theReceiver = "";
var theName = "";
$(document).ready(
    function() {        
        /**
         * Event handler for when the user attempts to register
         */
                    console.log("test");

         var $privateMessageForm = $('#send-private-message');
        var $privateMessageBox = $('#privateMessage');
        var $privateChat = $('#privateChat');



        $privateMessageForm.submit(function(e){
            e.preventDefault();
                //console.log(data.nick);
                //$privateChat.append("<span class = 'error'>"+data+"</span><br/>");
            const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
        const profile = googleUser.getBasicProfile();
        var name = profile.getName();
        var messageBox = $privateMessageBox.val();
        if(profile === undefined){
            console.log("user not signed in, no info to return");
        }else{
            $.ajax({
                url: '/addMessageDatabase/',
                type: 'POST',
                dataType: 'json',
                data: {sender: name,
                receiver: theReceiver,
                message: messageBox
                },
                success: function(data){
                    $privateChat.append("<span class = 'msg'><b>"+name+":</b> "+messageBox+ "</span><br/>");

                },
                error: function(error){
                    console.log("error saving order "+error);
                }
        });
        }
            $privateMessageBox.val('');
        });
            





        $('#aButton').on('click', function(){

        const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
        const profile = googleUser.getBasicProfile();
        var name = profile.getName();
        if(profile === undefined){
            console.log("user not signed in, no info to return");
        }else{
        $.ajax({
            type: 'GET',
            url: '/getOneUser',
            data: {
                user_name: name
            },
            success: function(data){
                console.log('success single user', data);
                console.log('the user is '+data.user_name);

                /*
                $.each(data, function(index, user){
                    console.log(data);
                    console.log("username "+data.user_name);
                    console.log(data[index].user_name);
                    //console.log($user);
                });
                console.log(data.user_name);
                */
            },
            error: function(){
                console.log('error on get user function');
            }
        });
        }
        });



        var $user = $('#users');
        $.ajax({
            type: 'GET',
            url: '/getUserDatabase',
            success: function(data){
                console.log('success', data);
                $.each(data, function(index, user){
                    console.log(data[index].user_name);

                    $user.append("<button id = 'b"+index+"' class = 'btn-block btn-primary btn-lg btn-primary' onclick = 'privateMsg(this)'>"+data[index].user_name+ "</button>")
                    //console.log($user);
                });
            },
            error: function(){
                console.log('error on chat page function');
            }
        });
        var counter = 0;

        privateMsg = function(obj){
            //alert("private message");
        $('#privateChatWrap').show();
        $('#privateChat').empty();
        theReceiver = $(obj).text();
        $("#private_box").empty();
        $("#private_box").append(theReceiver);
        const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
        const profile = googleUser.getBasicProfile();
        var name = profile.getName();
        theName = name;
        if(profile === undefined){
            console.log("user not signed in, no info to return");
        }else{

        counter = 0;
        $.ajax({
            type: 'GET',
            url: '/getMessageDatabase',
            success: function(data){
                console.log('success ', data);
                $.each(data, function(index, user){
                    if((name === data[index].sender && 
                    theReceiver === data[index].receiver) ||
                    (theReceiver === data[index].sender &&
                    name === data[index].receiver)){
                        if(data[index].sender === name){
                        $privateChat.append("<p class = 'msg' style = 'background-color:lightblue; border: 1px solid black; margin: 0; '><b>"+data[index].sender+":</b> "+data[index].message + "</p>");
                        }else{
                        $privateChat.append("<p class = 'msg' style = 'background-color: lightgreen;'><b>"+data[index].sender+":</b> "+data[index].message + "</p>");
                        }
                    console.log(data);
                    counter++;
                    
                    }else{
                        return;
                    }
                    console.log(data);
                    //console.log($user);
                });
                if($privateChat.text() === ""){
                    $privateChat.append("send a message to "+theReceiver);
                }
            },
            error: function(){
                console.log('error on chat page function');
            }
        });

        }
        }

        setInterval(function(){
            var html = "";
            var insideCounter = 0;
            $.ajax({
            type: 'GET',
            url: '/getMessageDatabase',
            success: function(data){
                console.log('success', data);
                $.each(data, function(index, user){
                    if((theName === data[index].sender && 
                    theReceiver === data[index].receiver) ||
                    (theReceiver === data[index].sender &&
                    theName === data[index].receiver)){
                        if(data[index].sender === theName){
                        html += "<span class = 'msg' style = 'background-color:lightblue;'><b>"+data[index].sender+":</b> "+data[index].message + "</span><br/>";
                        }else{
                        html += "<span class = 'msg' style = 'background-color: lightgreen;'><b>"+data[index].sender+":</b> "+data[index].message + "</span><br/>";
                        }
                    //console.log(data);
                    insideCounter++;
                    }else{
                        return;
                    }
                    //console.log(data);
                    //console.log($user);
                });
                if($privateChat.text() === ""){
                    $privateChat.empty();
                    $privateChat.append("send a message to "+theReceiver);
                }else if(counter < insideCounter){
                    $('#privateChat').empty();
                    $privateChat.append(html);
                    counter = insideCounter;
                    console.log("load up all messages");
                }else{
                    console.log("no need to upload new code");
                }
                
                console.log("this is the timer")
            },
            error: function(){
                console.log('error on chat page function');
            }
        });
        }, 10000);



/*
        $('#theButton').on('click', function(){

            const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
            const profile = googleUser.getBasicProfile();
  if(profile === undefined){
    console.log("user not signed in, no info to return");
  }else{
    console.log("hey hey hey "+profile.getId());
    console.log( profile.getName());
  }
    
  }
  */
  
  $('#theButton').on('click', function(){
        
       /* const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
        const profile = googleUser.getBasicProfile();
        if(profile === undefined){
            console.log("user not signed in, no info to return");
        }else{

          name = profile.getName();
              
              $.ajax({
                  url: '/addUserDatabase/',
                  type: 'POST',
                  dataType: 'json',
                  data: {user_name: name},
                  success: function(data){
                      console.log("added the user "+data);
                      console.log(data._user_name);
                      console.log(data.user_name);
                      console.log(name);
                  },
                  error: function(error){
                      console.log("error saving order "+error);
                  }
          });*/
        }            

  });


 });
        


      
</script>