<style>
    #chat, #privateChat{
        height: 400px;
        background-color:teal;
        overflow-x: scroll;
        overflow-wrap: break-word;
        border: 1px solid black;
        box-sizing: border-box;
        padding: 0px;
        margin: 0;
    }

    #chatWrap, #privateChatWrap{
        float: right;
        border: 1px solid black;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color:teal;
    }

    #list_name, #private_box{
        text-align: center;
        border: 1px solid black;
    }
    #list_name{
        background-color:thistle;
    }
    #private_box{
        background-color:wheat;
    }
    .scrollClass{
        border: 1px solid black;
        height: 400px;
        overflow-x: scroll;
        scrollbar-color: dark;
    }

    .img_cont_msg{
			height: 40px;
			width: 40px;
	}

.user_img_msg{
			height: 40px;
			width: 40px;
			border:1.5px solid #f5f6fa;
		
		}
.msg_card_body{
			overflow-y: auto;
		}

.msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		position: relative;
	}
	.msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		position: relative;
	}
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>

<button onclick = "returnInfoToScreen();">return google info</button>
<button id = "theButton">add user</button>
<button id = "aButton">another button</button>
<div class = "container" style = "border: 1px solid black; border-radius: 25px;">
    <div class = "row">
        <div id = "list_name" class = "col-4">users</div>
        <div id = "private_box" class = "col-8"></div>
    </div>
<div class = "row">
<div id = "users" class = "col-4 scrollClass"></div>
<div id = "privateChatWrap" class = "col-8" style = "">
        <div id="privateChat" class = "width: 100%; border: 1px solid black;" >
            <div class="card-body msg_card_body">
							<div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									Hi, how are you samim?
									<span class="msg_time">8:40 AM, Today</span>
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									Hi Khalid i am good tnx how about you?
									<span class="msg_time_send">8:55 AM, Today</span>
								</div>
								<div class="img_cont_msg"><img src=""class="rounded-circle user_img_msg">
                            </div>
                    </div>
        </div>
        </div>
        <form id = "send-private-message">
            <input size = "35" id = "privateMessage"></input>
            <input type = "submit"></input>
        </form>
    </div>
    <div id="theUsers"></div>
    </div>
    </div>
<script>


function returnInfoToScreen(){
    
    const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
  const profile = googleUser.getBasicProfile();
  if(profile === undefined){
    console.log("user not signed in, no info to return");
  }else{
    console.log("hey hey hey "+profile.getId());
    console.log( profile.getName());
  } 
  }

var theReceiver = "";
var theName = "";
$(document).ready(
    function() {        
        /**
         * Event handler for when the user attempts to register
         */
                    console.log("test");

         var $privateMessageForm = $('#send-private-message');
        var $privateMessageBox = $('#privateMessage');
        var $privateChat = $('#privateChat');



        $privateMessageForm.submit(function(e){
            e.preventDefault();
                //console.log(data.nick);
                //$privateChat.append("<span class = 'error'>"+data+"</span><br/>");
            const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
        const profile = googleUser.getBasicProfile();
        var name = profile.getName();
        var messageBox = $privateMessageBox.val();
        if(profile === undefined){
            console.log("user not signed in, no info to return");
        }else{
            $.ajax({
                url: '/addMessageDatabase/',
                type: 'POST',
                dataType: 'json',
                data: {sender: name,
                receiver: theReceiver,
                message: messageBox
                },
                success: function(data){
                    $privateChat.append("<span class = 'msg'><b>"+name+":</b> "+messageBox+ "</span><br/>");

                },
                error: function(error){
                    console.log("error saving order "+error);
                }
        });
        }
            $privateMessageBox.val('');
        });
            





        $('#aButton').on('click', function(){

        const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
        const profile = googleUser.getBasicProfile();
        var name = profile.getName();
        if(profile === undefined){
            console.log("user not signed in, no info to return");
        }else{
        $.ajax({
            type: 'GET',
            url: '/getOneUser',
            data: {
                user_name: name
            },
            success: function(data){
                console.log('success single user', data);
                console.log('the user is '+data.user_name);

                /*
                $.each(data, function(index, user){
                    console.log(data);
                    console.log("username "+data.user_name);
                    console.log(data[index].user_name);
                    //console.log($user);
                });
                console.log(data.user_name);
                */
            },
            error: function(){
                console.log('error on get user function');
            }
        });
        }
        });



        var $user = $('#users');
        $.ajax({
            type: 'GET',
            url: '/getUserDatabase',
            success: function(data){
                console.log('success', data);
                $.each(data, function(index, user){
                    console.log(data[index].user_name);

                    $user.append("<button id = 'b"+index+"' class = 'btn-block btn-primary btn-lg btn-primary' onclick = 'privateMsg(this)'>"+data[index].user_name+ "</button>")
                    //console.log($user);
                });
            },
            error: function(){
                console.log('error on chat page function');
            }
        });
        var counter = 0;

        privateMsg = function(obj){
            //alert("private message");
        $('#privateChatWrap').show();
        $('#privateChat').empty();
        theReceiver = $(obj).text();
        $("#private_box").empty();
        $("#private_box").append(theReceiver);
        const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
        const profile = googleUser.getBasicProfile();
        var name = profile.getName();
        theName = name;
        if(profile === undefined){
            console.log("user not signed in, no info to return");
        }else{

        counter = 0;
        $.ajax({
            type: 'GET',
            url: '/getMessageDatabase',
            success: function(data){
                console.log('success ', data);
                $.each(data, function(index, user){
                    if((name === data[index].sender && 
                    theReceiver === data[index].receiver) ||
                    (theReceiver === data[index].sender &&
                    name === data[index].receiver)){
                        if(data[index].sender === name){
                        $privateChat.append("<p class = 'msg' style = 'background-color:lightblue; border: 1px solid black; margin: 0; '><b>"+data[index].sender+":</b> "+data[index].message + "</p>");
                        }else{
                        $privateChat.append("<p class = 'msg' style = 'background-color: lightgreen;'><b>"+data[index].sender+":</b> "+data[index].message + "</p>");
                        }
                    console.log(data);
                    counter++;
                    
                    }else{
                        return;
                    }
                    console.log(data);
                    //console.log($user);
                });
                if($privateChat.text() === ""){
                    $privateChat.append("send a message to "+theReceiver);
                }
            },
            error: function(){
                console.log('error on chat page function');
            }
        });

        }
        }

        setInterval(function(){
            var html = "";
            var insideCounter = 0;
            $.ajax({
            type: 'GET',
            url: '/getMessageDatabase',
            success: function(data){
                console.log('success', data);
                $.each(data, function(index, user){
                    if((theName === data[index].sender && 
                    theReceiver === data[index].receiver) ||
                    (theReceiver === data[index].sender &&
                    theName === data[index].receiver)){
                        if(data[index].sender === theName){
                        html += "<span class = 'msg' style = 'background-color:lightblue;'><b>"+data[index].sender+":</b> "+data[index].message + "</span><br/>";
                        }else{
                        html += "<span class = 'msg' style = 'background-color: lightgreen;'><b>"+data[index].sender+":</b> "+data[index].message + "</span><br/>";
                        }
                    //console.log(data);
                    insideCounter++;
                    }else{
                        return;
                    }
                    //console.log(data);
                    //console.log($user);
                });
                if($privateChat.text() === ""){
                    $privateChat.empty();
                    $privateChat.append("send a message to "+theReceiver);
                }else if(counter < insideCounter){
                    $('#privateChat').empty();
                    $privateChat.append(html);
                    counter = insideCounter;
                    console.log("load up all messages");
                }else{
                    console.log("no need to upload new code");
                }
                
                console.log("this is the timer")
            },
            error: function(){
                console.log('error on chat page function');
            }
        });
        }, 10000);



/*
        $('#theButton').on('click', function(){

            const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
            const profile = googleUser.getBasicProfile();
  if(profile === undefined){
    console.log("user not signed in, no info to return");
  }else{
    console.log("hey hey hey "+profile.getId());
    console.log( profile.getName());
  }
    
  }
  */
  
  $('#theButton').on('click', function(){
        
       /* const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
        const profile = googleUser.getBasicProfile();
        if(profile === undefined){
            console.log("user not signed in, no info to return");
        }else{

          name = profile.getName();
              
              $.ajax({
                  url: '/addUserDatabase/',
                  type: 'POST',
                  dataType: 'json',
                  data: {user_name: name},
                  success: function(data){
                      console.log("added the user "+data);
                      console.log(data._user_name);
                      console.log(data.user_name);
                      console.log(name);
                  },
                  error: function(error){
                      console.log("error saving order "+error);
                  }
          });*/
                    

  });


 });
        


      
</script>