{{title}}
<p>Welcome to the Bear-Book-Club!!</p>
<p><a href = "/AboutUs">About Us</a></p>
<p><a href = "/User">User</a></p>
<p><a href = "/Login">login</a></p>
<p><a href = "/Book">Book</a></p>
<p><a href ="/">Home</a></p>



  <input type="text" placeholder="type here"  id ="search_box"/>
  <button id ="title_search_button">SEARCH BY TITLE</button>
  <button id ="author_search_button">SEARCH BY AUTHOR</button>
  <button id ="isbn_search_button">SEARCH BY ISBN</button>
<p id = "counter">counter</p>
<p id = "results">results</p>

    <div class="mypanel"></div>

<script src="/javascripts/title_search_button.js"></script>
<script src="/javascripts/author_search_button.js"></script>
<script src="/javascripts/isbn_search_button.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

