

  <input type="text" placeholder="type here"  id ="search_box"/>

  <button id ="search_button">SEARCH</button>
  <button id ="title_search_button">SEARCH BY TITLE</button>
  <button id ="author_search_button">SEARCH BY AUTHOR</button>
  <button id ="isbn_search_button">SEARCH BY ISBN</button>
  <button id ="search_button" class="fa fa-search" aria-hidden="true"></button>

<img src="/images/shelf1.png" id="shelf1" class="img-rounded" alt="Cinque Terre">


<img src="/images/shelf2.png" id="shelf2" class="img-rounded" alt="Cinque Terre">

<img src="/images/shelf3.png" id="shelf3" class="img-rounded" alt="Cinque Terre">


<p>Welcome to yurt</p>
<p><a href = "/AboutUs">About Us</a></p>
<p><a href = "/User">User</a></p>
<p><a href = "/Book">Book</a></p>
<p><a href = "/AllUsers">All Users</a></p>


<p><a href ="/">Home</a></p>



<p id = "counter">counter</p>
<p id = "results">results</p>

    <div class="mypanel"></div>

<script src="/javascripts/search_by_title.js"></script>
<script src="/javascripts/search_by_isbn.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
