
<!--  div to hold image and text for self 1 -->
<div class="container"> 
    <!-- Image for self 1 --> 
    <img src="/images/shelf1.png" id="shelf1" class="img-rounded" alt="Cinque Terre">
    <div class="centered">
        <p class="heading1"> About The Site </p>
        <p>Welcome to the Bear Book Club, where you can search and rate books. To get started just search for a book in the search bar above. Happy Reading!</p>
        </div>
</div>

<!--  div to hold image and text for self 2 -->
<div class="container">
    <!-- Image for self 2 --> 
    <img src="/images/shelf2.png" id="shelf2" class="img-rounded" alt="Cinque Terre">
    <div class="centered">
        <p class="heading1">About Us</p>
        <p>We are a team of four who decided to develop an online book club to rate and reveiw books for a college project</p>
    </div>
</div>

<!--  div to hold image and text for self 3 -->
<div class="container">
    <!-- Image for self 3 --> 
    <img src="/images/shelf3.png" id="shelf3" class="img-rounded" alt="Cinque Terre">   
    <div class="centered">
        <p class="heading1">Check Us Out</p>

        <!-- Links to our GitHubs -->
        <p><img src="/images/GitHub-Mark-64px.png" alt="" class="githubImg"><a href="https://github.com/david145noone">David Noone</a> 
        <img src="/images/GitHub-Mark-64px.png" alt="" class="githubImg"> <a href="https://github.com/thejarhat">Rajath Raja</a></p>
        <p><img src="/images/GitHub-Mark-64px.png" alt="" class="githubImg"><a href="https://github.com/EvanGKelly">Evan Kelly</a> 
        <img src="/images/GitHub-Mark-64px.png" alt="" class="githubImg"> <a href="https://github.com/PeadarODonnell">Peadar O Donnell</a></p>

        <p>“The more that you read, the more things you will know. The more that you learn, the more places you’ll go.” – Dr. Seuss</p>
    </div>
</div>

<!-- Script to make the search button in navbar work -->
<script src="/javascripts/general_search_button.js"></script>