
<div class="bg"></div>

<body>

<p><a href = "/AboutUs">About Us</a></p>
<p><a href = "/User">User</a></p>
<p><a href = "/Login">login</a></p>
<p><a href = "/Book">Book</a></p>
<p><a href = "/AllUsers">All Users</a></p>
<p><a href = "/users/register">Register Page</a></p>


<p><a href ="/">Home</a></p>


<img src="http://covers.openlibrary.org/b/isbn/9780385533225-S.jpg" />
<img src='http://i.imgur.com/J5LVHEL.jpg'/>
<p id = 'test'>testtestest</p>
  <input type="text" placeholder="type here"  id ="search_box"/>
  <button id ="search_button">SEARCH</button>
<p id = "counter">counter</p>
<p id = "results">results</p>

    <div class="mypanel"></div>

<script src="/javascripts/search_button.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

peapea_branch
