<!DOCTYPE html>
<html>
  <head>
	  
    <title>Bear Book Club</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'/>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/register.js"></script>


  </head>
  <body>
    <nav id="nav" class="navbar fixed-top navbar-toggleable-sm" data-spy="affix">
      <div class="container"> <a href="#" class="navbar-brand">Brand</a>
          <a class="navbar-toggler float-right hidden-md-up" data-toggle="collapse" data-target=".navbar-collapse">☰</a>
          <ul class="nav ml-auto navbar-nav">
              <li class="nav-item"><a href="#" class="nav-link">Sign In</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Register</a></li>
          </ul>
      </div>
    </nav>
    <!-- /.navbar -->

    <section class="first">
        <div class="container"></div>
    </section>
    <section id="services">
        <div class="container">
            <h1>Services.. here is some more content</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <h1>Here is some more content</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <h1>Here is some more content</h1>
        </div>
    </section>

    
    
    

  </body>
</html>
