<!DOCTYPE html>
<html>
  <head>
    <title>Bear Book Club</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/register.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
