<!DOCTYPE html>
<html>
  <head>
    <title>Bear Book Club</title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'/>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/register.js"></script>

    <!-- added scripts, messed up the nav bar
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="bs-example">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a href="/" class='navbar-brand' >
              <img id="logo"src='/images/logo.png'>
          </a>  
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
              </div>
              <div id="text-con">
                <div id="Name" class="navbar-text">~ Bear Book Club ~ </div>
              </div>

              <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                  <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Discover new books">
                    <a href="#" class="search_icon" id="general_search_button"><i class="fas fa-search"></i></a>
                  </div>
                </div>
              </div>

              <div id="sign_in-con">
                <ul id="sign_in" class="nav ml-auto navbar-nav">
                    <li class="nav-item"><a href="/Login" class="nav-link fas fa-user"> Sign In</a></li>
                    <li class="nav-item"><a href="/users/register" class="nav-link far fa-user"> Register</a></li>
                </ul>
              </div>
          </div>
      </nav>
    </div>

<!--
    <nav id="nav" class="navbar navbar-light" style="background-color: #799cb9;" data-spy="affix">
        <a href="/" class='navbar-brand'>
              <img id="logo"src='/images/logo.png'>
        </a>      
        <span id="Name" class="navbar-text">
            Bear Book Club
        </span>   
        <ul id="sign_in" class="nav ml-auto navbar-nav">
            <li class="nav-item"><a href="/Login" class="nav-link fas fa-user"> Sign In</a></li>
            <li class="nav-item"><a href="/users/register" class="nav-link far fa-user"> Register</a></li>
        </ul>
    </nav>
  -->

    {{{body}}}
    <footer class="page-footer font-small blue pt-4 myfooter">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" id="details">© 2019 Copyright:
    <a href=""> Bear Book Club Inc.&#8482</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
        </div>
    

    
    
    

  </body>
</html>
