 <script src="/javascripts/user_info.js"></script>
 <script src="https://apis.google.com/js/platform.js" async defer></script>

<body onclick` = "getUserPage()">

    <p id = "profilePagePic">testing user page</p>

   

    <script>

//stack overflow said use this to 
//fix google sign in loading info problems
  function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });

      
    }      
function returnGoogleSignInInfo(){
        //if no user matches the handlebars string, check for google sign in
            
            //console.log(profile);

           
        
      }

      
    </script>
    <div id="okay" onload = "returnGoogleSignInInfo();">loader</div>
    <div class="" onclick="returnGoogleSignInInfo();">heyo</div>
</body>