html,body {
  height:100%;
}

.navbar{
  background: rgba(255, 255, 255, 0.247) ;
}

#logo_con {

  margin-left: -1vh;
  width: 1%;
}
#logo {
  padding-top: 0.5vh;
  width: 18vh;
  height: auto;
}


h1 {
  font-family: 'Shadows Into Light', cursive;
}
