html,body {
  height:100%;
}

.navbar{
  background: rgba(255, 255, 255, 0.247) ;
}

#logo_con {

  margin-left: -1vh;
  width: 1%;
}
#logo {
  padding-top: 0.5vh;
  width: 18vh;
  height: auto;
}

#sign_in{
  left: -5vh; 
}


#Name{
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 400%;
  padding-left: 50vh;
}

#shelf1 {
  padding-left: 8vh;
  padding-top: 15vh;
  width: 95%;
  height: auto;
}
#shelf2 {
  padding-left: 8vh;
  padding-top: 15vh;
  width: 95%;
  height: auto;
}
#shelf3 {
  padding-left: 8vh;
  padding-top: 15vh;
  width: 95%;
  height: auto;
}

